<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716709146605-hqsrlol8btccehi99i1lqrp3lpp2j6v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716709146605-hqsrlol8btccehi99i1lqrp3lpp2j6v5</string>
	<key>API_KEY</key>
	<string>AIzaSyCx3NL8hnWzLsHPDjpcmSu-MysfthGbgXA</string>
	<key>GCM_SENDER_ID</key>
	<string>716709146605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Suh-WONJI.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-e13d0</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-e13d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716709146605:ios:674e220d9522417dd081e4</string>
</dict>
</plist>